[Unit]
Description=cloudflared tunnel for luminoserver.com
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/cloudflared tunnel --config /etc/cloudflared/luminoserver-config.yml run
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
